wheel
netmiko==3.4.0
pymysql
sshtunnel
mysql-connector-python==8.0.12
loguru
ipython
pyyaml
pandas
neo4j
pysnmp
requests
bs4
pyzabbix
lxml
requests_toolbelt
selenium
SQLAlchemy==1.4.36
mysqlclient
scrapli
scrapli-community
scrapli[asyncssh]
hvac